.header {
    display: flex;
    flex-flow: column;
    align-content: space-between;

    padding-bottom: 40px;
    width: 400px;
}

.version {
    display: flex;
    align-items: center;

    padding-bottom: 10px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.chpoker {
    animation: idle 2.5s infinite ease-in-out;
    width: 356px;
}

.score-table {
    height: 50px;
    width: 356px;
    border: 4px double black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.score {
    color: brown;
}

@keyframes idle {
0%, 100% {
    transform: translateY(0);
}
50% {
    transform: translateY(-35px);
    }
}