.header {
  padding-bottom: 50px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flexbox-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#chpoker {
  animation: idle 2.5s infinite ease-in-out;
  width: 392px;
  height: 370px;
}

#chpoker.cat_open {
  background: url(img/popcat-sprite.png) 0 0;
}

#chpoker.cat_close {
  background: url(img/popcat-sprite.png) 0 -356px;
}

#chpoker.demon_open {
  background: url(img/demon-sprite.png) 0 0;
}

#chpoker.demon_close {
  background: url(img/demon-sprite.png) 0 -356px;
}

.score-table {
  height: 50px;
  width: 356px;
  border: 4px double black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.score {}

.score_pop {
  color: brown;
  animation: pop .5s forwards ease-in-out;
}


@keyframes idle {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(35px);
  }
}

@keyframes pop {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
}