html {
  height: 100%;
}

body {
  background: radial-gradient(119.39% 48.49% at 50% 43.53%, #FFDFB5 0%, rgba(255, 145, 0, 0) 100%), 
              radial-gradient(167% 38.17% at 50% 115.79%, rgba(142, 142, 142, 0.35) 0%, rgba(255, 138, 0, 0) 100%), 
              radial-gradient(100% 100% at 100% 0%, #FF4646 0%, #EEBE12 100%);
  background-blend-mode: 
              normal, multiply, normal;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  padding-bottom: 50px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flexbox-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#chpoker {
  animation: idle 2.5s infinite ease-in-out;
  width: 356px;
  height: 356px;
}

.chpoker-shadow {
  height: 74px;
  width: 336px;
  background: url(img/misc-person-shadow.png) 0 0;
  animation: fade 2.5s infinite ease-in-out;
}

#chpoker.cat_open {
  background: url(img/sprite-popcat.png) 0 0;
}

#chpoker.cat_close {
  background: url(img/sprite-popcat.png) 0 -356px;
}

#chpoker.demon_open {
  background: url(img/sprite-caco.png) 0 0;
}

#chpoker.demon_close {
  background: url(img/sprite-caco.png) 0 -356px;
}

.score_pop {
  color: brown;
  animation: pop .3s forwards ease-in-out;
}

@keyframes fade {
  0%,
  100% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
}

@keyframes idle {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}

@keyframes pop {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
}

#app-root {}

/* app-top-bar */
#app-top-bar {
  width: 356px;
  height: 100px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background: rgb(229,0,0);
  background: linear-gradient(180deg, rgba(229,0,0,1) 0%, rgba(165,0,0,1) 100%); 
  position: absolute;
  top: -50px;
  z-index: -1;
}

.score-table {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  
  color: whitesmoke;
  font-size: 22pt;
}

.score {
}
/* app-game */
#app-game {
  width: 356px;
}

#app-bottom-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  margin: 15px;
  width: 356px;
}

.toggle-button {
  position: relative;
  
  width: 100px;
  height: 50px;
  margin: 0;

  vertical-align: top;

  background: #ffffff;
  border: 1px solid #bbc1e1;
  border-radius: 30px;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
    
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button::after {
  content: "";
  
  position: absolute;
  left: 3px;
  top: 1.5px;
  
  width: 45px;
  height: 45px;
  background: url(img/icon-autoclick-active.png) center center no-repeat;
  border-radius: 50%;
  
  transform: translateX(0);
  
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
  transform: translateX(calc(100% + 3px));
  background: url(img/icon-autoclick-disabled.png) center center no-repeat;
}

.toggle-button:checked {
  background-color: whitesmoke;
  opacity: 50%;
}

.toggle-button-sfx {
  position: relative;

  height: 60px;
  width: 60px;
  margin: 0;

  vertical-align: top;

  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button-sfx::after {
  content: "";
  
  position: absolute;
  left: 3px;
  top: 1.5px;
  
  width: 60px;
  height: 60px;
  background: url(img/icon-audio-enabled.png) center center no-repeat;
  
  transform: translateX(0);
  
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button-sfx:checked::after {
  background: url(img/icon-audio-disabled.png) center center no-repeat;
}

.button-template {
  position: relative;

  height: 60px;
  width: 60px;
  margin: 0;

  vertical-align: top;

  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2); 
}

.button-template::after {
  content: "";
  
  position: absolute;
  left: 3px;
  top: 1.5px;
  
  width: 60px;
  height: 60px;
  background: url(img/icon-audio-enabled.png) center center no-repeat;
  
  transform: translateX(0);
  
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.img-mute::after {
  background: url(img/icon-audio-enabled.png) center center no-repeat;
}

.img-mute:checked::after {
  background: url(img/icon-audio-disabled.png) center center no-repeat;
}

.img-catalog::after {
  background: url(img/icon-catalogue.png) center center no-repeat;
}

.img-catalog:checked::after {
  background: url(img/icon-catalogue.png) center center no-repeat;
}